---
text: Tomas
profile: /assets/blog/authors/tim.jpeg
ogImage:
  url: /assets/blog/dynamic-routing/cover.jpg
---
# test dwai dawi a

helllo ini test

```
const foods = ["Manggo", "Orange","Melon"];
```